@tailwind base;
@tailwind components;
@tailwind utilities;

.w-max-pc {
  width: 1376px;
}

@layer base {
  :root {
    --color-primary: 92 173 173;
    --primary-text: 48 49 51;
    --regular-text: 96 98 102;
    --secondary-text: 144 147 153;
    --disabled-text: 192 196 204;
    --dark-border: 212 215 222;
    --base-border: 220 223 230;
    --light-border: 228 231 237;
    --footer-bg: 250 250 250;
  }
}

html {
  scroll-behavior: smooth;
}
